</div><!-- /.container -->

<br><br><br>
<hr>

<p class="text-center"></p>Developed by Anuebunwa Chibuzor Daniel Kingsley, designed by Edward Odunze Ezeonu.</p>

<script>
if ($("[data-fancybox]").length) {
    $("[data-fancybox]").fancybox();
}

</script>
</body>
</html>

