<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portofolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://kit.fontawesome.com/0c6ddb1ebe.js" crossorigin="anonymous"></script>


    <!-- stylesheet for the hearder -->
    <link rel="stylesheet" href="assets/header.css">
    <!-- stylesheet for the index -->
    <link rel="stylesheet" href="assets/styles.css">
    <!-- stylesheet for the project page -->
    <link rel="stylesheet" href="assets/project.css">
    <!-- stylesheet for the contact page -->
    <link rel="stylesheet" href="assets/contact.css">

</head>

<body>
    <div class="container">
        <div id="hi" class="text-center">Hi, my name is</div>
        <div id="name" class="text-center"><span id="name1">Edward</span>,Odunze Ezeonu</div>
        <p class="text-center">UI/UX | Graphics Designer | Researcher</p>


        <div class="links0">
        <div class="links">

            <div class="cv">
                <p>Download cv</p>
                <a class="link" href="assets/Resume.pdf" download="Resume"> <i class="fa-solid fa-download"></i></a>
            </div>

            <div class="project">
                <p>Projects</p>
                <a class="link " href="/project"> <i id="pro" class="fa-solid fa-business-time"></i></a>
            </div>

            <div class="contact">
                <p>Contact</p>
                <a class="link " href="/contact"> <i class="fa-solid fa-phone-flip"></i></i></a>
            </div>

        </div>
    </div>



        <div class="profile">
            <div class="div"></div>

            <img src="../assets/teccee.jpeg">

            <div class="div"></div>
        </div>