<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="assets/stylesc.css">
    <link rel="stylesheet" href="assets/styles.css">

</head>
<body>
    <div class="container">
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top">
    <a class="navbar-brand" href="#">Edward Ezeonu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end bg-secondary" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
      <div class="offcanvas-body">
       
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"> A. About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/project">B. Projects</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/contact">D. Contact</a>
          </li>
          </ul>
    </div>
  </nav>
    <!-- <link rel="stylesheet" href="assets/stylesp.css"> -->
    <link rel="stylesheet" href="assets/add.css">
</head>
<body>
    <h1>select projects you wish to add </h1>
    
    <form action="/project" method="post" enctype="multipart/form-data">
        <label for="projects">projects:</label>
        <input type="file" id="project" name="image" placeholder="project">

        <br>
        <br>

        <label for="description">Description</label>
        <textarea id="desc" name="desc" placeholder="Description"></textarea>

        <br>
        <br>
        
        <input type="submit" id="submit">
    </form>
</body>
</html>