<%- include('./layouts/header') %>

<h1 class="text-center"> Contact Me </h1>
<div class="container">
  <div class="text-box">
  <div class="" id="personal-info">
     <p>Mobile No: +2349162361742</p>
     <p>Home No: +2348162116668</p>
     <p>Gmail: Tocgerald@gmail.com</p>
     <p>Instagram: @odunzedesigns</p>
     <p>LinkedIn: Edward Ezeonu</p>
     <p>Twitter: Tochukwu Edward Ezeonu</p>
     <hp>Fiver: EdwardEzeonu</p>
  </div>
</div>
</div>
<%- include('./layouts/footer') %>
