<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portofolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/styles.css">
   
</head>
<body>
  <div class="container">
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top">
    <a class="navbar-brand" href="#">Edward Ezeonu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end bg-secondary" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
      <div class="offcanvas-body">
       
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"> A. Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/project">B. Work Samples</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/contact">C. Contact</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="assets/Resume.pdf" download="Resume">D. My Resume</a>
          </li>
          </ul>
    </div>
  </nav>
     
  
 
 
 <div id="about">.ABOUT ME</div>
  <div id="one">

    <img src="assets/teccee.jpeg" alt=""> 
    <p  id="name">My name is Edward Tochukwu Ezeonu. I grew up in Nsukka, a small town in the South-Eastern part of Nigeria where I also acquired a barchelors degree in Geography at the University of Nigeria, Nsukka.
      
      I am a UI/UX designer currently based in Portharcourt, Nigeria. I love what I do and totally enjoy the creative process, the possibilities are limitless.
      </p>
 </div>

 <p id="tech">Technology has always fascinated me, how it works and how it has made human living so much easier. I believe that tech. is the future.
      
  As a young boy I always  dreamed of leaving a great legacy for the next generation; a dream that I believe would be achieved through my contribution to human development and advancement, also, due to my love for the tech. industry I realised that serving humanity through technology will make my journey more interesting.
  
  In year 2020, I was introduced to User Interface/User Experience (UI/UX) designing by a friend and after carrying out an extensive research on the profession I arrived at variables that spurred my interests. What I loved most about the profession is that UI/UX gives room for designers to be expressive and creative; the ability to create templates, doodles, interfaces, and so on without limits.
  
  Furthermore, the importance and role of technology cannot be overemphasized in today’s world. The use of internet and technology in our everyday activities such as  communication, businesses, entertainment, etc is unimaginably important as it helps in reaching a greater audience. 

  Oftentimes in the use of technology people (users) have to input instructions via devices such as smartphones, laptops, tablets, etc. UI/UX is what makes it easy for users to interact with these devices mentioned above which makes UI/UX designing a very significant skill in the tech. industry revealing it’s vital role in human development and advancement.
  I’ll be thrilled to hear from you regarding a design project. 
   
  </p>
</div>
<footer>Developed by Anuebunwa Chibuzor Daniel Kingsley &copy 2022.</footer>
  </body>
</html>