<%- include('./layouts/header') %>

  <h5 class="text-center" id="me">About Me</h5>


  <div class="exp-div">
    <div class="text-center" id="exp">
      <i class="fa-solid fa-user" id="client"></i>
      <h4> Experience</h4>
      <p>1+ Years Working</p>
    </div>

    <div class="text-center" id="exp">
      <i class="fa-solid fa-user" id="client"></i>
      <h4> Clients</h4>
      <p>24+ Worldwide</p>
    </div>

    <div class="text-center" id="exp">
      <i class="fa-solid fa-business-time" id="client"></i>
      <h4> Projects</h4>
      <p>40+ Completed</p>
    </div>
  </div>


  <div class="about-me">
    <p id="name">My name is Edward Tochukwu Ezeonu. I grew up in Nsukka, a small town in the South-Eastern part of
      Nigeria where I also acquired a barchelors degree in Geography at the University of Nigeria, Nsukka.

      I am a UI/UX designer currently based in Portharcourt, Nigeria. I love what I do and totally enjoy the creative
      process, the possibilities are limitless.


      Technology has always fascinated me, how it works and how it has made human living so much easier. I believe that
      tech. is the future.

      As a young boy I always dreamed of leaving a great legacy for the next generation; a dream that I believe would be
      achieved through my contribution to human development and advancement, also, due to my love for the tech. industry
      I realised that serving humanity through technology will make my journey more interesting.

      In year 2020, I was introduced to User Interface/User Experience (UI/UX) designing by a friend and after carrying
      out an extensive research on the profession I arrived at variables that spurred my interests. What I loved most
      about the profession is that UI/UX gives room for designers to be expressive and creative; the ability to create
      templates, doodles, interfaces, and so on without limits.

      Furthermore, the importance and role of technology cannot be overemphasized in today’s world. The use of internet
      and technology in our everyday activities such as communication, businesses, entertainment, etc is unimaginably
      important as it helps in reaching a greater audience.

      Oftentimes in the use of technology people (users) have to input instructions via devices such as smartphones,
      laptops, tablets, etc. UI/UX is what makes it easy for users to interact with these devices mentioned above which
      makes UI/UX designing a very significant skill in the tech. industry revealing it’s vital role in human
      development and advancement.
      I’ll be thrilled to hear from you regarding a design project.

    </p>

  </div>


  <%- include('./layouts/footer') %>