<%- include('./layouts/header') %>

      <h1 class="text-center"> Projects </h1>

        <div class="background">
          <div  id="po">
            <% posts.forEach(post=>{%>
              <div class="text-center"id="post">
                <div class="noBold">
                  <img class="img-fluid" id="porject-img" src="<%= post.url %>" alt="image">
                </div>

                <p class="p-project">
                  <%=post.desc%>
                </p>
              </div>
             
              <% })%>
            </div>
          </div>

     
   
  

    <%- include('./layouts/footer') %>