h1{
    color: purple;
    font-family: "roboto";
}

#personal-info{
    line-height: 200%;
    font-family: "roboto";
}

@media screen and (min-width:700px){
    .text-box{
        display: block;
        margin: 20px auto;
    }
    
    #personal-info{
        width: 70%;
        display:grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
    }
   
    
}