
#porject-img{
    border-radius: 0px;

}
#porject-img:hover{
    box-shadow: 5px 5px gray;
      transform:translate3d(20px, 10px, 30px);
}
.noBold:hover{


    
}



@media screen and (min-width:700px){
    .background{
        width:100%;
        height: auto;
        background-color: ghostwhite;
        border: 2px solid red;
        display: block;
        margin: 20px auto;
    }
    #po{
        width: 650px;
        height: auto;
        background-color: rgb(215, 207, 207);
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        margin: 20px auto;
    }
  
}
