body{
    background-color: rgb(208, 202, 202);
}
.navbar-brand{
    font-size: 30px;
    font-weight: 700;
    color: rgb(230, 199, 23);
    margin-left: 30px;
    font-family: 'roboto';
    
}
.navbar-brand:hover{
    color:rgb(194, 173, 53);
}
.nav-link {
    font-size: 20px;
    font-weight: 700;
    color:rgb(194, 173, 53) !important;
    font-family: 'roboto';
    
}
.nav-link:hover{
    font-size: 22px;
    text-decoration:underline !important;
}

.navbar-toggler{
    background-color: white;
    
}

#about{
    margin-top:70px;
    color:rgb(207, 181, 34);
    font-size: 40px;
    font-weight:bold;
    text-align: center;
    font-family: 'Garamond';
}
 #pic{
    height: 200px;
    margin-right: 40px;
}

#name{
    font-family: 'Garamond';
  
    font-size: 18px;
}

#one{
    /* display: flex; */
    text-align: justify;
    line-height: 1.5;;
    font-family: 'Garamond';
    margin-left: 5px;
}
@media screen and(min-width: 360px){
    #one{
        display: flex;
        flex-direction:row;
        max-width: 100%;
        font-family: 'Garamond';
    }
    #one #pic{
        width: 50%;
    }
    #name{
        display: flex;
        justify-self: flex-end;
    }
}

@media screen and (max-width:700px){
    #one{
        display: flex;
        flex-direction:column;
        max-width: 100%;
        font-family: 'Garamond';
    }
    #one #pic{
        display:block;
        margin:0 auto;

    }   
}

#ked:hover{ 
  font-size: 25px;  
 }
 #gram:hover{
    font-size: 25px;
 }
 #pro{
  /* border: 1px solid black; */
  margin-left: 50%;
 }
#gram{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10px;
}
#ked{
    font-size: 20px;
    text-align: center;
}

#gg{
    color: rgb(32, 30, 30);
    font-weight: 800;
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    margin-left: 40%;
    margin-bottom: 10px;
}
#gf{
    margin: -5px 0 0 10px;   
}

footer{
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}
.wrapper{
    box-shadow: 0 0 20px 0 black;
}

