#me{
    color: purple;
}

#exp{
    /* border: 2px solid white; */
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    display: block;
    margin: 10px auto;
    background-color: purple;
    border-radius: 7px;
}
#client{
    color: white;
}

.about-me{
    text-align: justify;
}


@media screen and (min-width:700px){
    .exp-div{
        display:flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
}